<div class="container">
    <div class="col-md-8 offset-md-2 text-center mt-5">
      <h1 class="text-center text-uppercase display-4 fw-bold text-warning text-decoration-underline">TASK LIST</h1>
  </div>

  <div class="d-flex justify-content-between mt-5 align-items-center">
    <img src="https://i.ibb.co/b53GwZN/undraw-completed-tasks-vs6q.png" alt="undraw-completed-tasks-vs6q">
    <div class="d-flex flex-column gap-3">
      <p class="lead">L'application qui vous permet de gérer vos tâches quotidiennes.</p>
      <p class="text-muted">Simplifiez Votre Quotidien et Maximisez Votre Productivité. <br>
        Dans un monde où le temps est notre ressource la plus précieuse, il est essentiel de gérer efficacement nos tâches. <br><br> 
        Task List est l'application de gestion de tâches qui est fiable, conçue pour vous aider à organiser votre vie personnelle et professionnelle de manière fluide et intuitive.
      </p>
    </div>
  </div>
</div>